{% extends "twitinfo/base.html" %}

	{% block headblock %}
		<script type='text/javascript' src='http://www.google.com/jsapi'></script>
		<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>-->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript" src="/static/js/date.js"></script>
                <script type="text/javascript" src="/static/js/twitinfo.js"></script>
		<style type="text/css">
			div#title #title {
			    font-size:16pt;
			}
			div#title .subheading {
			    font-size:10pt;
			}
			div#title .subheading2 {
			    font-size:8pt;
			    color:gray;
			}
			.inline-block {
			    display: inline-block;
			}
			.positive {
			    color:green;
			}
			.negative {
			    color:red;
			}
			div#trend_div {
			    margin-left:50px;
			}
			div#trend_div span {
			    font-size:28pt;
			}
			div#stats_div {
			    margin-left:50px;
			}			
			.align-right {
			    float:right;
			}
			div#zoom_div {
			    margin-left:50px;
			}
			div#zoom_div span {
			    font-size:8pt;
			    margin-right:10px;
			}
			div#zoom_div span.options {
			    text-decoration:underline;
			    color:blue;
			    cursor:pointer;
			}
			div#zoom_div span.selected {
			    text-decoration:none;
			    color:black;
			}
			div#zoom_div span#zoom {
			    font-size:9pt;
			    font-weight:bold;
			}
			#graph_cont {
			    position: relative;
			    width: 100%; 
			    height: 240px;
			}
			.graph {
			    position: absolute;
			    width: 100%; 
			    height: 100%;
			    top: 0;
			    left: 0;
			}	
		</style>
		{% endblock %}
{% block content %}
{% if error %}
    
	<p><strong>{{ error }}</strong></p>

{% else %}
	
		<div style="float: right; width: 30%;">
			<b>Latest Tweets</b>
			<div id='latest_tweets_div' style='width: 100%;'></div>
			<b>Relevant Tweets</b>
			<iframe src ="/display_tweets/{{event.id}}" id="tweets_iframe" width="100%" height="250">
			<p>Your browser does not support iframes.</p>
			</iframe>
			<div style="margin: 5px;">
			<b>Popular Links</b>
			</div>
			<iframe src ="/display_links/{{event.id}}" id="links_iframe" width="100%" height="80">
			<p>Your browser does not support iframes.</p>
			</iframe>
			<div style="margin: 5px;">
			<b>Overall Sentiment</b>
			</div>
			<div id='pchart_div' style='width: 100%; height: 175px;'></div>
		</div> 

		<div id="title">
			<p class="inline-block">
			<span id="title">{{event.name}}</span><br>
			<span class="subheading">Keywords: {{keywords}}</span><br>
			<span class="subheading">Event dates: {{ event.start_date|default_if_none:"no start"}} - 
            {{event.end_date|default_if_none:"no end" }}</span>
			</p>
			<div id="trend_div" class="inline-block">
			<span id="frequency">0</span>
			<span class="subheading">tweets/minute</span><br>
			<span id="frequency_text" class="subheading2"></span><br>
			<span id="last_date" class="subheading2">as of 12:00:00 PM</span>
			</div>
			<div id="stats_div" class="inline-block">
			<span class="subheading">Average</span>
			<span id="average" class="subheading align-right">1</span><br>
			<span class="subheading">Range</span>
			<span id="range" class="subheading align-right">1</span><br>
			</div>
		</div>

		<div style="float: left; width: 70%;">
			 <div>
			 <span><b>Tweet Frequency</b></span>
			 <div id="zoom_div" class="inline-block">
			 <span id="zoom">Zoom: </span>
			 <span class="options selected">1d</span>
			 <span class="options">5d</span>
			 <span class="options">1m</span>
			 <span class="options">3m</span>
			 <span class="options">6m</span>
			 <span class="options">1y</span>
			 <span class="options">5y</span>
			 <span class="options">Max</span>
			 </div><br>
			 </div>
      			 <div id='graph_cont'>
			 <div id='graph_div1' class='graph'></div>
			 <div id='graph_div2' class='graph'></div>
			 </div>
			 <div><b>Tweet Map</b></div>
		<div id="map_canvas" style='width: 100%; height: 240px';></div> 
		</div>

		
		<div style="clear: both;"></div>
{% endif %}
{% endblock content %}
